* {
    font-family: Hack Nerd Font;
    font-size: 12px;
	border: none;
	border-radius: 8px;
    animation-duration: 0.5s;
	animation-delay: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
	color: #ffffff;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery,
#clock,
#cpu,
#disk,
#memory,
#network,
#pulseaudio,
#temperature
{
    padding: 0 8px;
	background-color: #f5a9b8;
	transition: background-color 0.5s, color 0.5s;
	transition-timing-function: linear;
}

#battery {
}

#battery.charging, #battery.plugged {
    background-color: #5bcefa;
}

#battery.warning:not(.charging) {
	background-color: #ff6e6e;
}

#battery.critical:not(.charging) {
    background-color: #ff6e6e;
    animation-name: blink;
}

#clock {
}

#cpu {
}

#disk {
}

#memory {
}

#network {
}

#network.disconnected {
	background-color: #ff6e6e;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#temperature {
}

#temperature.critical {
	background-color: #ff6e6e;
}

tooltip {
	background-color: #2a2a36;
}

window#waybar {
    background-color: transparent;
}

#workspaces button {
    padding: 0 4px;
	margin-right: 4px;
    background-color: transparent;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.75);
}

#workspaces button.focused {
    background-color: #f5a9b8;
}

#workspaces button.urgent {
    background-color: #ff6e6e;
}

