@import 'gtk';

$border: #35363E;

window.bar {
  background-color: $window_bg_color;
  color: $window_fg_color;
  border-bottom: 1px solid $border;
  opacity: 0.8;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

  > * {
    padding: 0.35rem;
  }
}

button {
  border-radius: 0;
  min-width: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
  color: $window_fg_color;

  &:hover {
    border-bottom: 3px solid $window_fg_color;
  }
}

label {
  font-weight: bold;
}

.workspaces button.focused {
  border-bottom: 3px solid $accent_color;
}

progress,
highlight {
  min-height: 8px;
}

.volume {
  font-size: 1.25rem;

  > .slider {
    padding-right: 0;
    margin-right: 0;
  }
}

.tray {
  font-size: 1.25rem;
}

.workspaces,
.active,
.media,
.volume,
.clock,
.tray {
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.media,
.workspaces,
.tray,
.clock {
  background-color: $dark_4;
}

.workspaces {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.tray {
  padding: 0;

  > button {
    border-radius: 1rem;
  }
}

window.notification-popups box.notifications {
  padding: .5em;
}

.icon {
  min-width: 68px;
  min-height: 68px;
  margin-right: 1em;

  image {
    font-size: 58px;
    margin: 5px;
    color: $window_fg_color;
  }

  box {
    min-width: 68px;
    min-height: 68px;
    border-radius: 7px;
  }
}

.notification {
  min-width: 350px;
  border-radius: 11px;
  padding: 1em;
  margin: .5em;
  border: 1px solid $border;
  background-color: $window_bg_color;

  &.critical {
    border: 1px solid $error_color;
  }
}

.title {
  color: $window_fg_color;
  font-size: 1.4em;
}

.actions .action-button {
  margin: 0 .4em;
  margin-top: .8em;

  &:first-child {
      margin-left: 0;
  }

  &:last-child {
      margin-right: 0;
  }
}
