@import 'gtk';

$theme_selected_bg_color: #000;
$theme_bg_color: #000;
$theme_fg_color: #000;
$theme_unfocused_fg_color: #000;
$wm_borders_edge: #000;

window.bar {
  background-color: $window_bg_color;
  color: $window_fg_color;
  border-bottom: 1px solid #35363E;
  opacity: 0.8;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

  > * {
    padding: 0.35rem;
  }
}

button {
  border-radius: 0;
  min-width: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
}

button:active {
  background-color: $theme_selected_bg_color;
}

button:hover {
  border-bottom: 3px solid $theme_fg_color;
}

label {
  font-weight: bold;
}

.workspaces button.focused {
  border-bottom: 3px solid $theme_selected_bg_color;
}

progress,
highlight {
  min-height: 8px;
}

.volume {
  font-size: 1.25rem;
}

.volume > .slider {
  padding-right: 0;
  margin-right: 0;
}

.tray {
  font-size: 1.25rem;
}

.workspaces,
.active,
.media,
.volume,
.clock,
.tray {
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.media,
.workspaces,
.tray,
.clock {
  background-color: $dark_4;
}


.workspaces {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.tray {
  padding: 0;
}

.tray > button {
  border-radius: 1rem;
}









/* this is the notiiii */
window.notification-popups box.notifications {
    padding: .5em;
}

.icon {
    min-width: 68px;
    min-height: 68px;
    margin-right: 1em;
}

.icon image {
    font-size: 58px;
    /* to center the icon */
    margin: 5px;
    color: $theme_fg_color;
}

.icon box {
    min-width: 68px;
    min-height: 68px;
    border-radius: 7px;
}

.notification {
    min-width: 350px;
    border-radius: 11px;
    padding: 1em;
    margin: .5em;
    border: 1px solid $wm_borders_edge;
    background-color: $theme_bg_color;
}

.notification.critical {
    border: 1px solid lightcoral;
}

.title {
    color: $theme_fg_color;
    font-size: 1.4em;
}

.body {
    color: $theme_unfocused_fg_color;
}

.actions .action-button {
    margin: 0 .4em;
    margin-top: .8em;
}

.actions .action-button:first-child {
    margin-left: 0;
}

.actions .action-button:last-child {
    margin-right: 0;
}
