window.bar {
  background-color: @window_bg_color;
  color: @window_fg_color;
  border-radius: 1rem;
}

button {
  min-width: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
}

button:active {
  background-color: @theme_selected_bg_color;
}

button:hover {
  border-bottom: 3px solid @theme_fg_color;
}

label {
  font-weight: bold;
}

.workspaces button.focused {
  border-bottom: 3px solid @theme_selected_bg_color;
}

.notification {
  color: yellow;
}

progress,
highlight {
  min-height: 8px;
}

.volume {
  font-size: 1.25rem;
}

.battery-icon {
  margin-right: 8px;
}

.icons {
  font-size: 1.25rem;
}

.logo {
  margin-left: 18px;
  margin-right: 8px;
}

.clock {
  margin-left: 8px;
  margin-right: 8px;
}
