* {
  all: unset;
  color: #8f4959;
  font-family: "CaskaydiaCove Nerd Font";
  font-size: 12px;
}
.modules-left,
.modules-center,
.modules-right {
  background-color: #fad9db;
  border-radius: 12px;
}
.modules-center,
.modules-right {
  padding: 0px 8px;
}
#workspaces button {
  border-radius: 12px;
  padding: 0px 10px;
}
#workspaces button:hover,
#workspaces button:hover label {
  background-color: #8f4959;
  color: #fad9db;
}
tooltip {
  background: #fad9db;
  border: 1px solid black;
  border-radius: 12px;
}
tooltip label {
  padding: 4px;
}
#tray menu {
  background-color: #fad9db;
  border: 1px solid black;
  border-radius: 12px;
  padding: 8px;
}
#tray menu * {
  border-radius: 12px;
  padding: 4px;
}
#tray menu separator {
  background-color: #8f4959;
  padding: 1px;
  margin: 4px 0px;
}
#tray menu menuitem arrow {
  -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
  min-height: 16px;
  min-width: 16px;
}
#tray menu menuitem:hover {
  background-color: #8f4959;
}
#tray menu menuitem:hover > label,
#tray menu menuitem:hover > arrow,
#tray menu menuitem:hover > box > label,
#tray menu menuitem:hover > box > image {
  color: #fad9db;
}
