* {
  all: unset;
  color: #8f4959;
  font-family: "CaskaydiaCove Nerd Font";
  font-size: 16px;
}
#window {
  background-color: #fad9db;
  border: 1px solid black;
  border-radius: 12px;
}
#outer-box {
  padding: 12px;
}
#input {
  padding: 12px;
  border: 1px solid #8f4959;
  border-radius: 12px;
  margin-bottom: 12px;
}
#input > * {
  margin-right: 8px;
}
#entry {
  padding: 12px;
  border-radius: 12px;
}
#entry:selected {
  background-color: #8f4959;
}
#entry:selected > box > label {
  color: #fad9db;
}
#img {
  margin-right: 8px;
}
